<header class="review-filters" ng-controller="FiltersController">
  <h3 class="filtered-count summary">
    {{product.review_count | number:0}} reviews
  </h3>
  <div id="reviews-translation-by-google" class="translation-widget">
    <div class="skiptranslate goog-te-sectional-gadget-all" style="display: none;">
      <div id=":f.gadgetAll">
        <a class="goog-te-gadget-link" href="javascript:void(0)">
          <span class="goog-te-sectional-gadget-link-text">
            Translate everything to English
          </span>
        </a>
      </div>
      <div class="goog-te-sectional-gadget-all-logo">
        Powered by
        <span style="white-space:nowrap">
          <a class="goog-logo-link" href="https://translate.google.com" target="_blank">
            <img src="https://translate.googleapis.com/translate_static/img/mini_google.png" width="37px" height="13px" style="padding-right: 3px">
            Translate
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="filters">
    <span class="filter" ng-controller="FilterController">
      <span class="label">Reviews from:</span>
      <span class="decorated toggle-dropdown">
        <a ng-click="toggleFilterOptions()">
          {{filterName}}
        </a>
        <ol id="segments"
            class="toggle-dropdown-target"
            ng-show="showFilterOptions">
          <li ng-repeat="filter in filters" ng-hide="currentFilter($index)">
            <a ng-click="selectFilterOption($index)">{{filter.name}}</a>
          </li>
        </ol>
      </span>

    </span>

    <span class="filter" ng-controller="SortController">
      <span class="label">Sort by: </span>
      <span class="decorated toggle-dropdown">
        <a ng-click="toggleFilterOptions()">
          {{filterName}}
        </a>

        <ol id="sort-by"
            class="toggle-dropdown-target"
            ng-show="showFilterOptions">
          <li ng-repeat="filter in filters" ng-hide="currentFilter($index)">
            <a ng-click="selectFilterOption($index)">{{filter.name}}</a>
          </li>
        </ol>
      </span>
    </span>

  </div>
</header>
</header>