<header class="review-filters" ng-controller="FiltersController">
  <h3 class="filtered-count summary">
    {{product.review_count | number:0}} reviews
  </h3>
  <div id="reviews-translation-by-google" class="translation-widget">
    <div class="skiptranslate goog-te-sectional-gadget-all" style="display: none;">
      <div id=":f.gadgetAll">
        <a class="goog-te-gadget-link" href="javascript:void(0)">
          <span class="goog-te-sectional-gadget-link-text">
            Translate everything to English
          </span>
        </a>
      </div>
      <div class="goog-te-sectional-gadget-all-logo">
        Powered by
        <span style="white-space:nowrap">
          <a class="goog-logo-link" href="https://translate.google.com" target="_blank">
            <img src="https://translate.googleapis.com/translate_static/img/mini_google.png" width="37px" height="13px" style="padding-right: 3px">
            Translate
          </a>
        </span>
      </div>
    </div>
  </div>

  <div class="filters">
    <span class="filter">
      <span class="label">Reviews from:</span>
      <span class="decorated toggle-dropdown">
        <a href="#segments">
          All guests
        </a>
      </span>

      <ol id="segments" class="toggle-dropdown-target ">
        <li class="selected">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=all&amp;sku=AO103019">All guests</a>
        </li>
        <li class="">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=couple&amp;sku=AO103019">Couple</a>
        </li>
        <li class="">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=family-the-eldest-child-is-at-school&amp;sku=AO103019">Family (the eldest child is at school)</a>
        </li>
        <li class="">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=family-with-only-pre-school-children&amp;sku=AO103019">Family (with only pre-school children)</a>
        </li>
        <li class="">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=friends&amp;sku=AO103019">Friends</a>
        </li>
        <li class="">
          <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;segment=other&amp;sku=AO103019">Other</a>
        </li>
      </ol>
    </span>
    <script> document.getElementById("segments").style.display = 'none'; </script>

    <span class="filter">
      <span class="label">Sort by: </span>
      <span class="decorated toggle-dropdown">
        <a href="#sort-by">
          Most recent
        </a>
      </span>
    </span>

    <ol id="sort-by" class="toggle-dropdown-target">
      <li class="selected">
        <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;sku=AO103019&amp;sort_by=recent">Most recent</a>
      </li>
      <li class="">
        <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;sku=AO103019&amp;sort_by=helpful">Most helpful</a>
      </li>
      <li class="">
        <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;sku=AO103019&amp;sort_by=score_asc">Lowest score</a>
      </li>
      <li class="">
        <a href="/reevoomark/en-GB/product?page=1&amp;retailer=ATL&amp;sku=AO103019&amp;sort_by=score_desc">Highest score</a>
      </li>
    </ol>
    <script> document.getElementById("sort-by").style.display = 'none'; </script>
  </div>
</header>
</header>